/* Global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  max-height: 600vh;
}

/* Navigation styles */
nav {
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  justify-content: space-between;
  height: 70px;
  background-color: black;
}

#logo {
  width: 70px;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

ul li a {
  padding-left: 70px;
  font-size: 15px;
  font-weight: bolder;
  animation-duration: 2s;
  animation-name: key;
  animation-iteration-count: infinite;
}

/* Button styles */
#button {
  float: right;
  padding: 10px;
  background-color: lime;
}

#playAudioButton,
.feedback-form button,
#between,
#click {
  border: none;
  background-color: black;
  animation-duration: 2s;
  animation-name: key;
  animation-iteration-count: infinite;
}
#click {
  margin-left: 200px;
  font-size: 20px;
  padding: 5px;
}
#filter-button,
#submitFeedback {
  background-color: #007bff;
  color: #ffffff;
  padding: 5px;
  border: none;
  cursor: pointer;
  font-size: 15px;
}
/* Text and image styles */
#first {
  font-size: 25px;
  font-weight: bolder;
}

.position {
  font-size: 20px;
  font-weight: bolder;
}

#between {
  margin-right: 100px;
  font-weight: bolder;
  font-size: 25px;
}
audio {
  display: none;
}
.welcome-section {
  display: flex;
  align-items: center;
}

.welcome-image {
  object-fit: contain;
  width: 800px;
  height: auto;
}

.item {
  font-size: 15px;
  flex: 0 0 auto;
  width: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.item:hover {
  transform: scale(1.05);
}

.item img {
  width: 100px;
  height: auto;
}
/* Form and input styles */
#updateForm,
.feedback-form {
  font-weight: bold;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#food-type-input {
  padding-left: 20px;
  padding-right: 20px;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form select,
.feedback-form textarea {
  width: 100%;
  border: 1px solid #ccc;
}

.feedback-form fieldset {
  border: none;
}
/* Keyframes animation */
@keyframes key {
  0% {
    color: red;
  }
  50% {
    color: blue;
  }
  100% {
    color: gold;
  }
}
/* Specific section styles */
.home {
  min-height: 100vh;
  background-color: lightblue;
}

#list {
  background-color: aqua;
}

#details {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  min-height: 100vh;
  background: white url(images/istockphoto-1398357309-1024x1024.jpg);
}
#fill {
  min-height: 50vh;
  background-color: aquamarine;
}

#back {
  min-height: 109vh;
  background-color: #e6f7ff;
}

.position {
  display: grid;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 20px;
  font-weight: bolder;
}

.feedback {
  height: 40px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Containers and items */
#rice-container,
#stew-container,
#pizza-container,
#pasta-container,
#ugali-container,
#variety-container,
#drinks-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 20px;
}
